<div class="container">
	<div class="row">
		<h1>Hello World</h1>
	</div>

	<div class="row">
		<% @flavors.each do |flavor| %>
			<div class="col xs6">
				<h4><%= flavor.title %></h4>
				<p><%= flavor.description %></p>
			</div>
		<% end %>
	</div>
</div>